{% extends 'base.html.twig' %}

{% block title %}Contato{% endblock %}

{% block body %}
    <h1>Contato</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contato.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ contato.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contato.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ contato.telefone }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ contato.sexo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contato_index') }}">Voltar para lista</a>

    <a href="{{ path('contato_edit', {'id': contato.id}) }}">editar</a>

    {{ include('contato/_delete_form.html.twig') }}
{% endblock %}
